/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* MY CODE STARTS HERE */

/*
html
{
	background-color: #727272;
}
*/

section
{
	border-radius: 5px;	
	background-color: #FFFFFF;
	margin: 0px 80px 0px 80px;
}

article
{
	padding: 2em;

}

header
{
	/*background-color: #388e3c;*/
}

.top_nav
{
	background-color: #FFFFFF;
}

.container {
  margin: 0 auto;
  margin-bottom: 28px;
  margin-top: 28px;
  padding-left: 30px;
  padding-right: 30px;
  width: 960px;
  border: 2px solid red;
}
 
h1, h2, h3, h4, h5, h6, p, ul
{
	margin-bottom: 22px;
}

.top_nav h1
{
	display: inline;
}

.top_nav a
{
	font-size: 18px;
	text-decoration: none;
	padding: 3px;
	margin: 0 auto;
}

.top_nav a:link
{
	color: gray;
	border: 2px solid gray;
}

.top_nav a:hover
{
	color: aqua;
	border: 2px solid aqua;
}

#active_nav
{
	color: aqua;
	border: 2px solid aqua;
}